.fondofooter{
    height: 5rem;
    
    background: $colorfondofooter;
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 22%, rgba(255,255,255,1) 68%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 22%, rgba(255,255,255,1) 68%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 22%, rgba(255,255,255,1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
    }

iconoinstagram{
    text-decoration-color: red;
}
iconoyoutube{
    -webkit-text-fill-color:red;
}

