
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #626262!important;
}

.nav-pills > li > a:hover {
    color: #776162!important;
  }
  
  .nav-link-color {
    color: #ffffff !important;
  }