

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../Imagenes/alaba3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      
  }

.txttitulo{
  background-color: rgba(#626262, 0.5);
  
}
 

.animate__animated
         {
            .animate__slideInDown {
                --animate-delay: 1000;
                --animate-duration: 3s;
                            }
            .animate__bounce {
                --animate-delay: 2s;
                --animate-duration: 3s;
                            }


        }
  
    
  .cartaanimada:hover{
    animation-name: animate__pulse; 
  }

  .divisor {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
