/* .color1 { #eba42e };
.color2 { #ecc584 };
.color3 { #5b152c };
.color4 { #66aca4 };
.color5 { #b0d8cb }; */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap");
.fuenteprimaria {
  font-family: "Playfair Display", serif !important;
  font-size: 5rem; }

.fuentesecundaria {
  font-family: "Source Sans Pro", sans-serif !important; }

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../Imagenes/alaba3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.animate__animated .animate__slideInDown {
  --animate-delay: 1000;
  --animate-duration: 3s; }

.animate__animated .animate__bounce {
  --animate-delay: 2s;
  --animate-duration: 3s; }

.cartaanimada:hover {
  animation-name: animate__pulse; }

.fondofooter {
  background: black;
  background: -moz-linear-gradient(180deg, black 10%, #b7f6b8 83%);
  background: -webkit-linear-gradient(180deg, black 10%, #b7f6b8 83%);
  background: linear-gradient(180deg, black 10%, #b7f6b8 83%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#b7f6b8",GradientType=1); }

iconoinstagram {
  text-decoration-color: red; }

iconoyoutube {
  -webkit-text-fill-color: red; }
